{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "@babel/plugin-transform-async-to-generator"
  ],
  "env": {
    "development": {},
    "production": {}
  }
}
